# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

imgui.ini

*.npy

*.jpg

*.zip

*.mp4

*.npy

*.ckpt

*.pth

*.tar

.ply
*.pkl

.whl

results*
./ManiSkill2_real2sim_xuanlin
SpatialAgent

images
graspnet-baseline
output

*.tar.gz

saved_variables

boost_1_71_0

dlimp


*.pt

TorchSDF

torchprimitivesdf

results
cv_results

output

*.ply

*.npy

*.tar


dlimp

*.log